body {
    /*margin-left: auto;
    margin-right: auto;*/
    margin: 0;
    padding: 0;
  }
  
  .title {
    font-family: "Roboto Slab";
    color: #222222;

  }
  
  .subtitle {
    font-family: "Fira Sans";
    font-size: 50%;
  }

  .img-logo{
    width: 50;
    height: auto;
  }

.center {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 0px;
  text-align: center;
  justify-content: center;
}

  .my-nav {
    background-color: #002677 !important;

  }
